# Auto detect text files and perform LF normalization
* text=auto

# Define binary file attributes.
# - Do not treat them as text.
# - Include binary diff in patches instead of "binary files differ."
*.osu -text diff
